.calculator-wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 0.5em;
}

.bg-blue {
	background-color: #76c1f1;
	color: #fff;
}

/* customs block */
.customs-calculator {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	z-index: 1;
}
.calc-inputs-group {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4%;
	align-items: end;
	line-height: 1.2em;
}
.engine-buttons-group {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5%;
}
.auction-buttons-group {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5%;
}
@media screen and (max-width: 768px) {
	.bg-blue {
		font-size: 1.1em !important;
	}
	.display-item-last {
		font-size: 1em;
		text-align: center;
	}
	.calc-inputs-group {
		padding-top: 4em;
		grid-template-columns: 1fr;
	}
	.auction-buttons-group {
		grid-template-columns: 1fr;
	}
	.engine-buttons-group {
		grid-template-columns: 1fr 1fr;
	}
}
.label {
	cursor: pointer;
	border-radius: 0.2em;
	display: grid;
	justify-content: center;
	align-content: center;
	padding: 0.3em 1em;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(0, 0, 0, 0.05);
	background-color: rgba(255, 255, 255, 0.8);
}
.label input {
	visibility: hidden;
}
label .input {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(0, 0, 0, 0.05);
}
.label img {
	transform: translateY(0.3em);
}
.label.active {
	box-shadow: inset 0 2px 4px rgba(0, 1, 5, 0.3);
	background-color: #e8e8e8;
	color: #b8a884;
}
.car-images-show {
	display: grid;
	align-items: center;
	justify-items: center;
	justify-content: center;
}
.display {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.display-item {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
	padding: 1em 0;
}
.display-item-last {
	grid-column: span 2;
}
@media screen and (max-width: 768px) {
	.auction-label {
		min-height: 6em;
	}
	.auction-label img {
		width: 50% !important;
		margin: 0 auto;
	}
	.display {
		grid-template-columns: 1fr;
	}
	.display-item-last {
		grid-column: span 1;
	}
}

/* delivery block */
.delivery-calculator {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	z-index: 1;
}
.delivery-calculator-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}
.delivery-calculator h2 {
	grid-column: span 2;
}
.categories-buttons-group {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5%;
	padding: 0 1em;
}
.map {
	width: 100%;
}
.map .svg {
	width: 100%;
	display: block;
	padding: 2em 0;
}
.map-select {
	display: none !important;
}
.delivery-ports {
	padding: 0 0.7em;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.delivery-ports h5 {
	grid-column: span 2;
	padding-bottom: 2em;
}
.display-delivery {
	grid-column: span 2;
}
.usa-states-block {
	padding: 0 1em;
}
.select-local-state {
	margin: 1em 0;
}
.state:hover {
	cursor: pointer;
	opacity: 0.8;
}
.state-active {
	mix-blend-mode: difference;
	opacity: 0.6;
}
.port-image {
	opacity: 0.6;
}
.port-image.active {
	opacity: 1;
}
.port-image:hover {
	opacity: 1;
}

/* result-block */
.result-block {
	background-color: #fff;
	z-index: 1;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
	.delivery-calculator-form {
		grid-template-columns: 1fr !important;
	}
	.delivery-calculator h2 {
		grid-column: span 1;
	}
	.display-delivery {
		grid-column: span 1;
	}
	.map-select {
		margin: 1em 0;
		display: block !important;
	}
	.map {
		padding: 0 1em;
	}
	.map .svg {
		display: none;
	}
	.map-select {
		display: none;
	}
	.delivery-ports .port p {
		text-align: center;
	}
}
